.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}
.container {
  width: 250px;
  min-height: 50px;
  padding: 20px;
  border: 1px solid grey;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#count {
  font-weight: bold;
  font-size: 30px;
}

#count-tab {
  font-weight: bold;
  font-size: 30px;
}

#count-tv {
  font-weight: bold;
  font-size: 30px;
}

.container p {
  text-align: center;
}

button {
  border: 1px solid purple;
  background: purple;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  flex: 6;
}

button:hover {
  border: 1px solid rgb(54, 4, 54);
  background: rgb(54, 4, 54);
}

.btnContainer {
  display: flex;
}

input {
  text-align: center;
  width: 100%;
  flex: 1;
  border: 2px solid purple;
}

.section-one {
  display: flex;
  width: 50%;
  margin: 2rem auto; 
}